@import "./node_modules/bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
    font-family: myriad-pro,sans-serif;
    font-weight: 200;
    font-style: normal; 
}

p, a, th, label{
    font-family: myriad-pro,sans-serif;
    font-weight: 5;
    font-style: normal;
}